<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bmstu.translator" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <service
            android:name=".ConnectionService"
            android:exported="false" >
        </service>
        <service
            android:name=".MyIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".d"
            android:label="@string/title_activity_d" >
        </activity>
        <activity
            android:name=".e"
            android:label="@string/title_activity_e" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
